<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Taker - Gerenciar Rota</title>
    <link rel="shortcut icon" th:href="@{/img/LogoTripTaker.ico}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/gerenciarRotas.css">
    <script src="script/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
    <div class="container py-3">
        <a href="#" class="navbar-brand primary-color">
            <img src="img/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="home.html" class="nav-link primary-color">Início</a>
                </li>
                <li class="nav-item">
                    <a href="RotasViagensDatas.html" class="nav-link primary-color" aria-current="page">Rotas</a>
                </li>
                <li class="nav-item">
                    <a href="sobre.html" class="nav-link primary-color">Sobre</a>
                </li>
            </ul>
            <button href="login.html" class="buttonLogin btn-primary" id="loginBtn">Login</button>
        </div>
    </div>
</nav>
<!-- Navbar content here -->

<div class="container my-5">
    <div class="containerBTN">
        <a th:href="@{/createEditTrip}" class="btn btn-secondary btnCriar">
            <i class="bi bi-plus"></i> Criar Nova
        </a>
    </div>

    <div class="row imagem">

    </div>
</div>

<footer class="container-fluid bg-primary-color fixed-bottom" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12" id="footer-top">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <img src="img/logo.png" alt="Logo" class="logoIMG">
                    </div>
                    <div class="col-4" id="social-icons">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-twitter"></i>
                    </div>
                    <div class="col-4" id="arrow-up">
                        <i class="bi bi-arrow-up-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer content here -->


<script>
    document.getElementById("loginBtn").addEventListener("click", function() {
        window.location.href = "/logout";
    });
</script>
</body>
</html>
