* {
    font-family: 'NotoSans', sans-serif;
}

.bg-primary-color {
    background-color: #0D1E30;
}

.bg-secondary-color {
    background-color: #E8E7E4;
}

.bg-dark-color {
    background-color: #0D1E30;
}

.primary-color {
    color: #FFF;
}

.secondary-color {
    color: #0D1E30;
}

#navbar a:hover {
    color: #D53620;
}

.buttonLogin {
    background-color: #FFF;
    border: 0;
    color: #0D1E30;
    border-radius: 20px;
    font-size: 1em;
    margin-top: 5px;
    margin-left: 0px;
    width: 80px;
    height: 35px;
}

.buttonLogin:hover {
    background-color: #D53620;
    transition: 0.5s;
}

#navbar a.active {
    border-bottom: 1px solid #E8E7E4;
    color: #FFF;
}

#navbar a.active:hover {
    color: #D53620;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 80px;
    margin: -20px;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;

}

#navbar-items .nav-item {
    margin: 0 1em;
    font-size: 1em;
}

#slider {
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    font-size: 3em;
    text-shadow: #000 2px 2px;
}

.btn {
    border-radius: 25px;
}
#footer {
    padding: 1.5em 0.5em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top, footer-top i {
    color: #fff;
}

.loginBox {
    margin-top: 100px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container.loginBox {
  margin-top: 150px;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
}

.error-message {
  color: red;
}

.btnEntrar {
    padding: 0.3 0.8em;
    background-color: #D53620;
    border: 0;
}

.logoIMG {
    width: 80px;
}

#footer {
    padding: 1.5em 0.5em;
     position: fixed;
        bottom:0;
        left:0;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top, footer-top i {
    color: #fff;
}

#social-icons {
    text-align: center;
}

#social-icons i {
    margin-left: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    color: #D53620;
    transition: 0.3s;
}

#arrow-up {
    text-align: left;
}

#arrow-up i {
    cursor: pointer;
    font-size: 3em;
    margin-left: 380px;
}
.hamburguer
{
    color:#ffffff;
}