<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Taker - Gerenciar Rota</title>
    <link rel="shortcut icon" th:href="@{/img/LogoTripTaker.ico}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/style/gerenciarRotas.css}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar content here -->
    
    <div class="container my-5">
        <div class="containerBTN">
            <a th:href="@{/createEditTrip}" class="btn btn-secondary btnCriar">
                <i class="bi bi-plus"></i> Criar Nova
            </a>
        </div>

        <div class="row imagem">
            <div th:each="trip : ${trips}" class="col-md-4">
                <div class="card mb-3">
                    <a th:href="@{'/createEditTrip/' + ${trip.id}}">
                        <img th:src="@{${trip.image}}" alt="Imagem da Viagem" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <form th:action="@{/delete-trip}" method="post">
                            <input type="hidden" name="id" th:value="${trip.id}">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer content here -->

    <script th:src="@{/script/script.js}"></script>
    <script>
      document.getElementById("loginBtn").addEventListener("click", function() {
        window.location.href = "/logout";
      });
    </script>
</body>
</html>
